@model IEnumerable<InAndOut.Models.Item>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Borrowed Items</h2>
        </div>
        <div class="col-6 text-right" 00>
            <a class="btn btn-outline-primary" asp-action="Create">Create New Item</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">

            <thead>
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Borrower
                    </th>
                    <th>
                        Lender
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="25%">
                            @item.ItemName
                    </td>
                    <td width="25%">
                        @item.Brower
                </td>
                <td width="25%">
                    @item.Lender
            </td>
            <td width="30%">
                <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-outline-secondary"> Edit</a>
                <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-outline-danger"> Delete</a>
            </td>
        </tr>
    }
            </tbody>
        </table>
    }

</div>
